<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.example.chat.service" />
        
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/register/userinfo/*" access="hasRole('ROLE_CHATTER')"/>
		<intercept-url pattern="/register/chat/*" access="hasRole('ROLE_CHATTER')"/>
		<intercept-url pattern="/j_spring_security_check" access="IS_AUTHENTICATED_ANONYMOUSLY"/> 
	    <intercept-url pattern="/login.jsp*" access="hasRole('ROLE_CHATTER')"/>
		
		
		<form-login 
		    login-page="/login" 
		    default-target-url="/" 
			authentication-failure-url="/login?error" />
		<logout logout-success-url="/login?logout" />
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	 </authentication-manager>


	<beans:bean id="springSecurityFilterChain" class="org.springframework.web.filter.DelegatingFilterProxy"/>
	
	
	<!-- <beans:bean id="springSecurityFilterChain"
		class="org.springframework.security.web.FilterChainProxy">
		<filter-chain-map path-type="ant">
			<filter-chain pattern="/images/**" filters="none" />
			<filter-chain pattern="/styles/**" filters="none" />
			<filter-chain pattern="/scripts/**" filters="none" />
			<filter-chain pattern="/app/**"
				filters=" 
	securityContextPersistenceFilter, 
	authenticationProcessingFilter, 
	exceptionTranslationFilter, 
	filterSecurityInterceptor" />
		</filter-chain-map>
	</beans:bean>  -->
</beans:beans>
